<div class="container-fluid">
<div class="row">
    <div class="col-sm-8">
        <h4>User List</h4>
        <button class="btn btn-primary" (click)="fetchUser()">Fetch user</button>
        <img src="https://ilearn.intralinks.com/images/loader.gif"
        *ngIf="isLoading">
        <table class="table table-striped table-bordered" *ngIf="!isLoading">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone no</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users;">                        
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address.city}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)" >DELETE</button>&nbsp;                           
                        <button type="button" class="btn btn-secondary" 
                        (click)="editUser(user.id,user.name,user.email,user.phone)">EDIT</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h4>Add user</h4>
        Name <input type="text" #name [(ngModel)]="val1"><br/>
        Email  <input type="text" #email [(ngModel)]="val2"><br/>
        Phone <input type="text" #phone [(ngModel)]="val3"><br/>       
<button class="btn btn-primary" (click)="addUser(name.value,email.value,phone.value)">{{
        flagbtn?'Add user':'Update user'}}</button>

       

    </div>
</div>
</div>

















<!-- <h3 class="text-center">User Details</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone no</th>
                        <th>WebSite</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users;">                        
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.website}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" >DELETE</button>&nbsp;                           
                            <button type="button" class="btn btn-secondary" >EDIT</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 border border-primary">
            <h3 class="text-center">User Add</h3>          
             Name &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="text"><br />
             Email &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="text"><br />
             Phone &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="text"><br />
             website &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <input type="text"><br />
            <div style="text-align:center ;">               
                <button  type="button" class="btn btn-primary mr-1" >Add User
                </button>
            </div>
           
        </div>
    </div>
</div>

 -->
