<p>pipes works!</p>
<div>{{name|uppercase}}</div>
<div>{{name|lowercase}}</div>
<div>{{name|titlecase}}</div>
=====================================================
<div>{{mySal| currency}}</div>
<div>{{mySal| currency:'INR'}}</div>
<div>{{mySal| currency:'USD'}}</div>
<div>{{mySal| currency:'&euro;'}}</div>
=======================================================
<div>{{today}}</div>
<h4> {{ today | date }} </h4>
<h4> {{ today | date:'fullDate' }} </h4>
<h4> {{ today | date:'shortDate' }} </h4>
<h4> {{ today | date:'mediumDate' }} </h4>
<h4> {{ today | date:'dd-MM-yyyy'}} </h4>
<h4> {{ today | date:'MMMM dd yyyy'}} </h4>
=========================================================
<!-- format '3.2-5'
***************
minIntegerDigits = 3 
minFractionDigits = 2 
maxFractionDigits = 5  -->
<h4> {{ 2585285762678 | number }} </h4>
<h4> {{ 258.5285762678 | number }} </h4>
<h4> {{25.5285762678 | number:'3.2-4'}}</h4>
<h4> {{25.5 | number:'3.2-4'}}</h4>
===================================================
<div>{{25 | percent}}</div>
<div>{{ 2.5 | percent}}</div>
<div>{{ 2.5 | percent:'2.4-5'}}</div>
<div>{{0.024 | percent}}</div>
===================================================
<h5>{{user}}</h5>
<h5>{{user| json}}</h5>
<!-- accessing individual key value pair -->
<h5 *ngFor="let e of user| keyvalue">
    {{e.key}}--{{e.value}}
</h5>
==============================================
<h6>{{arr| slice:2:4}}</h6>
<h6>{{arr| slice:2:-1}}</h6>
===========================================
<textarea col="30" rows="6" maxlength="200" [(ngModel)]="msg"></textarea>
<div> Remaining Chars in the text area is :- {{msg | remaining}}</div>
============================================
<input type="number" [(ngModel)]="num">
<div>{{num | ordinal}}</div>
============  pure Vs Impure =================== 
<h6>Enter a number:-</h6><input type="number" #num1>&nbsp;<br/>
<button (click)="addToArray(+num1.value)" class="btn btn-primary">Add to Array</button>
<h5>original Array</h5><span *ngFor="let ele of arr"> {{ele}}</span>
<br/>
<h6> Pure Pipe: <br>List is being sorted on component load only</h6>
    <span *ngFor="let digit of arr | puresortArr">
      <b>{{digit}}</b>, &nbsp; 
    </span>
<br/>
    <h6>ImPure Pipe:<br>List is being sorted on every change</h6>
    <span *ngFor="let digit of arr | impuresortArr">
      <b>{{digit}}</b>, &nbsp; 
    </span>
    