<app-header></app-header>
<!-- <app-dynamicmodelform></app-dynamicmodelform> -->
<!-- <app-model-form1></app-model-form1> -->
<!-- <app-registration-form></app-registration-form> -->
<!-- <app-message1></app-message1>
=============================================
<app-messagr2></app-messagr2> -->
<!-- <app-observable4></app-observable4> -->
<!-- <app-forkjoin></app-forkjoin> -->
<!-- <app-map-demo></app-map-demo> -->  
<!-- <app-observable3></app-observable3> -->
<!-- <app-obervable2></app-obervable2> -->
<!-- <app-observable1></app-observable1> -->
<!-- <app-comment></app-comment> -->
<!-- <app-users></app-users> -->
<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <app-employees></app-employees> -->
 <!-- <app-products></app-products> -->
<app-navbar></app-navbar>
<!-- <app-directives></app-directives>  -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-template-binding></app-template-binding> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-demo></app-demo> -->
<!-- <app-center>
    <p>This center from parent</p>
</app-center> -->
<!-- <app-footer></app-footer> -->
<router-outlet></router-outlet>